# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example


# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd


# =========================
# Virtual environment
# =========================
venv/
.venv/
env/


# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/


# =========================
# React / Node
# =========================
node_modules/
dist/
build/
.npm/


# =========================
# React environment files
# =========================
.env.local
.env.development.local
.env.test.local
.env.production.local


# =========================
# IDE / Editor
# =========================
.vscode/
.idea/


# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db


# =========================
# Logs
# =========================
*.log